<button (click)="showUserForm = !showUserForm"
        class="btn btn-dark mb-3">Add User</button>
<div *ngIf="showUserForm" class="card card-body mb-3">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label>First Name</label>
      <input #userFirstName="ngModel"
             [(ngModel)]="user.firstName"
             type="text" class="form-control" name="firstName"
             [ngClass]="{'is-invalid' : userFirstName.errors && userFirstName.touched}"
             required
             minlength="2">
      <div [hidden]="!userFirstName.errors?.required" class="invalid-feedback">First name required.</div>
      <div [hidden]="!userFirstName.errors?.minlength" class="invalid-feedback">At least 2 chars.</div>

      <label>Last Name</label>
      <input #userLastName="ngModel"
             [(ngModel)]="user.lastName"
             type="text" class="form-control" name="lastName"
             [ngClass]="userLastName.errors && userLastName.touched ? 'is-invalid' : ''"
             required
             minlength="2">
      <div [hidden]="!userLastName.errors?.required" class="invalid-feedback">Last name required.</div>
      <div [hidden]="!userLastName.errors?.minlength" class="invalid-feedback">At least 2 chars.</div>

      <label>E-Mail</label>
      <input #userEmail="ngModel"
             [(ngModel)]="user.email"
             type="email" class="form-control" name="email"
             [ngClass]="userEmail.errors && userEmail.touched ? 'is-invalid' : ''"
             required
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
      <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">E-Mail required.</div>
      <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Invalid E-Mail.</div>

      <label>Age</label> <input [(ngModel)]="user.age" type="number" class="form-control" name="age">
      <label>Street</label> <input [(ngModel)]="user.address.street" type="text" class="form-control" name="street">
      <label>City</label> <input [(ngModel)]="user.address.city" type="text" class="form-control" name="city">
      <label>State</label> <input [(ngModel)]="user.address.state" type="text" class="form-control" name="State">
    </div>
    {{user.firstName}}
    <button [disabled]="!userForm.form.valid"
            class="btn btn-block mb-3"
            [ngClass]="currentClasses">
      Add New User
    </button>
  </form>
</div>

<ul *ngIf="loaded && users?.length > 0; else noUsers" class="list-unstyled">
  <li *ngFor="let user of users"
      class="card card-body mb-2"
      [class.bg-light]="user.isActive"
      [style.border-color]="user.isActive ? 'green' : ''">
    <div class="row">
      <div class="col-sm-4">
        <img *ngIf="user.image" [src]="user.image" class="img-fluid">
      </div>
      <div class="col-sm-8">
        <h3 [ngStyle]="currentStyles">
          {{user.firstName}} {{user.lastName | uppercase}}
          <!-- + Icon for toggleHide to show/hide extendet data. -->
          <small *ngIf="user.age && user.address"> <!-- Just show icon if there is extended data available. -->
            <button (click)="toggleHide(user)" class="btn btn-dark btn-sm">
              <i class="fa fa-plus" [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
          </button></small>
        </h3>
        <ul class="list-group"><li class="list-group-item">E-Mail: {{user.email}}</li></ul>
        <ul *ngIf="!user.hide && showExtended && user.age && user.address" class="list-group">
          <li class="list-group-item">Age: {{user.age}}</li>
          <li class="list-group-item">Address: {{user.address.street}}, {{user.address.city}}, {{user.address.state}}</li>
          <li class="list-group-item">Balance: {{user.balance | currency:"EUR":"symbol"}}</li>
          <li class="list-group-item">Joined: {{user.registered | date:"dd.mm.yyyy"}}</li>
          <li class="list-group-item" ngNonBindable><pre>{{5 | number:"2.4"}}</pre></li>
        </ul>
      </div>
    </div>
  </li>
</ul>

<ng-template #noUsers>
  <h4>No users found</h4>
</ng-template>
<!-- <h4 *ngIf="users.length == 0">No users found</h4> -->

<h4 *ngIf="!loaded">Loading Users...</h4>
